body {
	background-color: pink;
}

div {
	margin: 0 auto;
}

div#allContent {
	width: 600px;
}

h1, div#display {
	background-color: white;
	color: black;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

img {
	margin: 0px;
	padding: 0px;
	width: 163px;
	height: 217px;
}

img.clickable:hover {
	opacity: 0.5;
}

div#row1, div#row2, div#row3 {
	background-color: white;
	padding: 0px;
	width: 489px;
	height: 217px;
}

input#reset, input#score {
	margin: 5px;
}
