div#allContent {
	background-color: pink;
	margin: 0 auto;
	width: 985px;
}

h1 {
	color: black;
	text-align: center;
}

img {
	margin: 0px;
	padding: 0px;
	width: 163px;
	height: 217px;
}

img.hover {
	opacity: 0.5;
}

div#gameboard {
	background-color: white;
	margin: 0 auto;
	width: 489px;
}
